* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: rgb(0, 141, 141);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;

}

.container-logo{
  display: flex;
  align-items: center;
}

.conteiner-logo h1{
  margin-left: 20px;
  color: white;
}

.img{
  height: 150px;
  width: 250px;
  margin-left: 20px;
}
.table tr{
  margin: 0 30px;
  background-color: aqua;
  text-align: center;

}

.menu a{
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  border-radius: 10px;
}

.menu a:hover{
  background-color: rgba(100, 100, 80, 0.8);
}

main{
  height: 76vh;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(219, 196, 166);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.form{
  width: 50%;
  margin: 30px auto;
}